@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#root {
  min-height: 100vh;
  background: #f1f5f9;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  object-fit: cover;
}

button {
  font-family: inherit;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

input {
  font-family: inherit;
  border: none;
}
